/* Section 1 CSS Solutions */
.section-1 {
    background: #1F2937;
}

.flex-container-1 {
    padding-left: 100px;
    padding-right: 100px;
    height: 100px; /* To make the container larger than just the height of the text */
    display: flex;
    justify-content: space-between; /* Maximizes space between the two flex items, the header and the links */
}

.header-logo {
    font-family: 'Roboto', "Arial", sans-serif;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center; 
    font-family: 'Roboto', "Arial", sans-serif;
    font-size: 18px;
    color: #E5E7EB; 
    font-weight: lighter;
}

.header-link {
    margin-left: 20px;
}

/* Section 2 CSS Solutions */
.section-2 {
    background: #1F2937; 
}

.flex-container-2 {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.textbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.textbox-container .big-title {
    font-family: 'Roboto', "Arial", sans-serif;
    font-size: 48px;
    color: #FAF9F8;  
    font-weight: 900;
}

.textbox-container p {
    font-family: 'Roboto', "Arial", sans-serif;
    font-size: 18px;
    color: #E5E7EB;  
}

button {
    /* button skeleton: courtesy of https://getcssscan.com/css-buttons-examples */
    background-color: #3882F6;
    border-radius: 8px;
    border-width: 0;
    color:  #E5E7EB;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* Section 3 CSS Solutions */
.section-3 {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.top-textbox {
    text-align: center;
}

.flex-container-3 {
    display: flex;
    justify-content: space-around;
}

.box {
    margin-left: 20px;
}